{% assign teachings = site.data.data.teachings %}
{% if teachings %}
<section class="section teachings-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Teaching
  </h2>

  {% for teaching in teachings %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ teaching.role }}</h3>
        <h3 class="job-title">{{ teaching.course }}</h3>
        <h3 class="job-title">{{ teaching.time }}</h3>
      </div><!--//upper-row-->

    </div><!--//meta-->

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
